body {
    background-image: url("../../assets/image/loginBac.jpeg");;
    background-size: 100%;
    background-repeat: no-repeat;
}

#register_frame {
    width: 500px;
    height: 1000px;
    padding: 13px;
 
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -200px;
    margin-top: -200px;
 
    background-color: rgba(112, 106, 177, 0.5);
 
    border-radius: 10px;
    text-align: center;
}

form p > * {
    display: inline-block;
    vertical-align: middle;
}

#logo_size {
	width:80px;
	height:80px;
}

.label_input {
    font-size: 14px;
    width: 85px;
    height: 28px;
    line-height: 28px;
    text-align: center;
 
    color: white;
    background-color: #3CD8FF;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.text_field {
    width: 278px;
    height: 28px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 0;
}

.btn_ {
    font-size: 14px;
    margin-left: 25px;
    width: 120px;
    height: 28px;
    line-height: 28px;
    text-align: center;
 
    color: white;
    background-color: #3BD9FF;
    border-radius: 6px;
    border: 0;
 
    float: left;
}

#register_control {
    padding: 0 28px;
}