<div id="register_frame">
 
    <p id="logo"><img id = "logo_size" src="../../assets/image/logo.png"></p>
    <form method="post">
 
        <p><label class="label_input">Username</label><input type="text" id="username" class="text_field"/></p>
        <p><label class="label_input">Password</label><input type="text" id="password" class="text_field"/></p>
        <p><label class="label_input">Name</label><input type="text" id="name" class="text_field"/></p>
        <p><label class="label_input">Phone</label><input type="text" id="phone" class="text_field"/></p>
        <p><label class="label_input">Location</label><input type="text" id="location" class="text_field"/></p>
        <p><label class="label_input">Email</label><input type="text" id="email" class="text_field"/></p>
        <p><label class="label_input">Website</label><input type="text" id="website" class="text_field"/></p>
        <p><label class="label_input">Skills</label><input type="text" id="skills" class="text_field"/></p>
        <p><label class="label_input">Languages</label><input type="text" id="language" class="text_field"/></p>
        <p><label class="label_input">Hobbies</label><input type="text" id="hobbies" class="text_field"/></p>
        <p><label class="label_input">Company1</label><input type="text" id="company1" class="text_field"/></p>
        <p><label class="label_input">Time1</label><input type="text" id="time1" class="text_field"/></p>
        <p><label class="label_input">Description1</label><input type="text" id="description" class="text_field"/></p>
        <p><label class="label_input">Company2</label><input type="text" id="company2" class="text_field"/></p>
        <p><label class="label_input">Time2</label><input type="text" id="time2" class="text_field"/></p>
        <p><label class="label_input">Discription2</label><input type="text" id="description2" class="text_field"/></p>
        <p><label class="label_input">School</label><input type="text" id="school" class="text_field"/></p>
        <p><label class="label_input">Degree</label><input type="text" id="degree" class="text_field"/></p>
        <p><label class="label_input">Major</label><input type="text" id="major" class="text_field"/></p>
        <p><label class="label_input">Award</label><input type="text" id="degreawarde" class="text_field"/></p>


        <div id="register_control">
            <input type="button" class="btn_" value="Register" (click) ="login()"/>
        </div>
    </form>
</div>
