<h1 class = "title">Resume Maker</h1>
<mat-toolbar color = "primary" class = "mat-elevation-z8" id = "fixed-header">
  <span><mat-icon>article</mat-icon> Navigation bar</span>
  <div class = "spacer"></div>
  <a mat-button routerLink = "">Home</a>
  <a mat-button routerLink = "templates">Resume Maker</a>
  <a mat-button routerLink = "submit">Hand in Resume</a>
  <a mat-button routerLink = "contact">Contact Us</a>
  <a mat-raised-button color = "accent" routerLink = "login">Log In</a>
</mat-toolbar>