<ng-container *ngIf="route.paramMap | async as data">
  <div *ngIf="data.get('notice')" class="alert alert-success" role="alert">
    {{ data.get('notice') }}
  </div>
</ng-container>

<div id="index-box">
  <div id="index-text">
    <h2 id="title_index">Resume Templates</h2>
    <p id=content_index1>With professional template, start your career from here!</p>
    <p id=content_index2>Finish your resume in just 5 minutes! Resume maker helps you show your experience and the
      details you need for a perfect resume.</p>
  </div>
  <div id="profile" *ngIf="this.loggedin">
    <app-profile [user]="this.user"></app-profile>
  </div>
</div>


<div id="presentIMGs">
  <div #container [ngStyle]="{ width: 40 + '%' }" style="height:720px; text-align:center; margin:0; padding:0; position:relative; top:100px;
    border-radius: 10px;
    box-shadow: 0 0 0 10px #d3d3d3;
    margin-left: 30%;">
    <ng-image-slider #nav [images]="imageObject" [infinite]="true" [manageImageRatio]="true"
      [autoSlide]="{interval:3, stopOnHover:true}" [animationSpeed]="30"
      [imageSize]="{ width:'100%', height:'700px', space:0 }" slideImage="1"
      style=" border:#f5f5f5 0px; border-radius:50px; ">
    </ng-image-slider>
  </div>
</div>

<h2 id="templateH2">Custom DIY Template Examples</h2>
<div id="templates">
  <div class="displayItem"><img class="itemIMG1" src="../../assets/image/template1.png" alt=""></div>
  <div class="displayItem"><img class="itemIMG1" src="../../assets/image/template2.png" alt=""></div>
  <div class="displayItem"><img class="itemIMG1" src="../../assets/image/template3.png" alt=""></div>
  <div class="displayItem"><img class="itemIMG2" src="../../assets/image/template4.png" alt=""></div>
  <div class="displayItem"><img class="itemIMG2" src="../../assets/image/template5.png" alt=""></div>
  <div class="displayItem"><img class="itemIMG2" src="../../assets/image/template6.png" alt=""></div>
</div>

<h2 id="title">Features</h2>
<div id="sec2">

  <div class="feature">
    <img class="sec2IMG" src="../../assets/image/feature1.png" alt="">
    <p>Automatic Layout</p>
  </div>
  <div class="feature">
    <img class="sec2IMG" src="../../assets/image/feature2.png" alt="">
    <p>Module Customization</p>
  </div>
  <div class="feature">
    <img class="sec2IMG" src="../../assets/image/feature3.png" alt="">
    <p>Free to Download</p>
  </div>

</div>

<!-- <div class="sec1">
  <h2>Land your dream job with Resume Maker</h2>
  <img id="ex1" src="assets/image/template4.png" alt="image">
  <ul>
    <li>A Resume Made for Your Job</li>
  </ul>
</div>
<div class="sec1">
  <h2 >Efficient Communication with Employeer</h2>
  <img id="ex2" src="assets/image/sec12.jpg" alt="image">
  <ul id="sec12" >
    <li>Sending your resume directly to Employeer</li>
  </ul>
</div> -->
