<div id="login_frame">
 
    <p id="image_logo"><img id = "logo_size" src="../../assets/image/logo.png"></p>
    <form method="post">
 
        <p><label class="label_input">username</label><input type="text" id="username" class="text_field"/></p>
        <p><label class="label_input">Password</label><input type="text" id="password" class="text_field"/></p>
 
        <div id="login_control">
            <input type="button" class="btn_" value="Login" (click) ="login()"/>
            <input type="button" class="btn_" value="Register" (click) ="register()"/>
        </div>
    </form>
</div>