<div id = "index-box">
    <h2 id = "title_index">Start inspired</h2>
    <p id = content_index>With professional template, start your career and hand it in to the company</p>
</div>
<ul class="slides">
    <input type="radio" id="control-1" name="control" checked>
    <input type="radio" id="control-2" name="control">
    <input type="radio" id="control-3" name="control">
    
    <!--  Left/Right Button  -->
    <div class="navigator slide-1">
      <label for="control-3">
        <i class="fas fa-chevron-left"></i>
      </label>
      <label for="control-2">
        <i class="fas fa-chevron-right"></i>
      </label>
    </div>
    
    <div class="navigator slide-2">
      <label for="control-1">
        <i class="fas fa-chevron-left"></i>
      </label>
      <label for="control-3">
        <i class="fas fa-chevron-right"></i>
      </label>
    </div>
    
    <div class="navigator slide-3">
      <label for="control-2">
        <i class="fas fa-chevron-left"></i>
      </label>
      <label for="control-1">
        <i class="fas fa-chevron-right"></i>
      </label>
    </div>
    <!--  /Left/Right Button  -->
    
    <li class="slide"><a href="#"><img class = "img_template" src = "../../assets/image/template1.jpeg" alt=""></a></li>
    <li class="slide"><a href="#"><img class = "img_template" src = "../../assets/image/template2.jpeg" alt=""></a></li>
    <li class="slide"><a href="#"><img class = "img_template" src = "../../assets/image/template3.jpeg" alt=""></a></li>
    
    <div class="controls-visible">
      <label for="control-1"></label>
      <label for="control-2"></label>
      <label for="control-3"></label>
    </div>

</ul>

<div id="sec1">
  <h2>Land your dream job with Resume Maker</h2>
  <img id="ex1"  src = "assets/template4.png" alt="image">
  <ul>
    <li>Self Design Resmue Maker</li>
    <li>A Resume Made for Your Job</li>
    <li>Free Download</li>
  </ul> 
</div>

